.brk-iebs:before {
  content: '\e800';
} /* '' */

.brk-ruby:before {
  content: '\e801';
} /* '' */

.brk-valladolid:before {
 content: '\e802';
} /* '' */

.brk-coffee:before {
 content: '\e803';
} /* '' */

.brk-ruby-alt:before {
 content: '\e804';
} /* '' */

.brk-cyl:before {
 content: '\e805';
} /* '' */

.brk-miriadax:before {
 content: '\e806';
} /* '' */

.brk-java:before {
 content: '\e807';
} /* '' */

.brk-python:before {
 content: '\e808';
} /* '' */

.brk-cisco:before {
 content: '\e809';
} /* '' */

.brk-gitlab:before {
 content: '\e80a';
} /* '' */

.brk-upvx:before {
 content: '\e80b';
} /* '' */
